@tailwind base;
@tailwind components;
@tailwind utilities;

/* Appliquer des styles de base */
html, body {
  @apply m-0 p-0 box-border min-h-screen;
  background-color: #0c0f1f; /* Fallback au cas où Tailwind n'applique pas */
  color: white;
  font-family: 'Orbitron', sans-serif; /* Police Orbitron définie dans le <head> */
}
